body{
    padding:0;
    margin:0;
}

.parent-div{
    background-color: black;
    color:white;
}

.child-div{
    width:30%;
    margin:auto;
    background-color: #2f104b;
    height:100vh;
    overflow:hidden;
}

.content-section{
    padding:18px;
}

.icon{
    width:30px;
    height:30px;
    color:whitesmoke;
}

.name{
    text-transform: uppercase;
    /* font-weight:500; */
}

.name>h4{
    font-family: 'Open Sans', sans-serif;
    margin-block-end: 0.33em;
}

.name>p{
    font-family: 'Besley', serif;
    font-weight:lighter;
    margin-block-start: 0;
}

.discription{
    padding-inline-start: 18px;
    font-family: 'Open Sans', sans-serif;
    font-size:0.7rem;
    color:rgb(162, 156, 156);
    margin-block-start: -5px;
}

.year{
    padding-top:5px;
    border:2px solid rgb(162, 156, 156);
    text-align: center;
    font-size:1.5rem;
    width:90px;
    height:30px;
    border-radius:25px;
    margin:40px 0px 20px 0px;
    font-family: 'Rubik', sans-serif;
}

.content>p:nth-child(1){
    font-size: 2.26rem;
    line-height: 2.2rem;
    margin-block-end: 0.6em;
    margin-block-start: 0.6em;
}

.content>p:nth-child(2){
    margin-block-start: 0;
    font-family: 'Open Sans', sans-serif;
}

.bullet-points{
    font-size:0.8rem;
    color:rgb(162, 156, 156);
    font-family: 'Open Sans', sans-serif;
}

.bullet-points>li{
    margin-bottom:2px;
}

.music-jukebox{
    margin-top:20px;
}

.visualizer{
    height: 83px;
}

.play-button{
    height:46px;
    /* background-color: rgb(162, 156, 156);
    opacity:0.3; */
}

.play-button>div{
    width: 88px;
    height: 100%;
    margin: auto;
    overflow: hidden;
}

input[type='file']{
    margin-top:10px;
}

button{
    background-color: transparent;
    border: 1px solid white;
    padding: 9px;
    border-radius: 50%;
    outline:none;
    display: flex;
    align-items: center;
    margin:auto;
    height:auto;
    cursor: pointer;
}

canvas{
    margin-top:-114px;
    width:100%;
}

input:not([type="range"]):not([type="color"]) {
    writing-mode:unset !important;
}

/* ----- swiper css ----- */

audio {
    display:none;
} 


@media screen and (max-width: 1024px){
    .year{
        font-size: 1.3rem;
        width: 82px;
        margin: 15px 0px 20px 0px;
    }

    .name>h4{
        margin-block-start: 0.33em;
    }
    .discription {
        padding-inline-start: 15px;
        font-size: 0.53rem;
    }
    .content>p:nth-child(1) {
        font-size: 1.5rem;
        line-height: 1.7rem;
    }
    .content>p:nth-child(2) {
        font-size: 0.8rem;
    }
    .bullet-points{
        padding-inline-start: 15px;
        font-size: 0.7rem;
    }
    canvas{
        margin-top: -53px;
        height: 136px;
    }
}

@media screen and (max-width: 768px) {
    .child-div{
        width: 100%;
    }
    button{
            width: 49%;
    }
    .content-section {
        padding: 51px 55px 0px 55px;
    }
    .visualizer {
		height: 161px;
	}
}

@media screen and (max-width: 425px){
    .child-div{
        width:100%;
        height:100vh;
    }
	.visualizer {
		height: 101px;
	}

	canvas {
		margin-top: -41px;
	}

    .discription {
        color:white;
        font-size: 0.75rem;
    }
    /* ------------ */
    .content-section {
        padding: 25px 25px 0px 25px;
    }
    
    .content>p:nth-child(1) {
        font-size: 1.5rem;
        line-height: 1.7rem;
    }
    
    .content>p:nth-child(2) {
        font-size: 1rem;
    }
    
    .bullet-points {
        font-size: 0.8rem;
    }
}